#lblSeed, #lblAverage, #lblRepetitions, .lblMethod {
    font-family: monospace;
    font-size: 10px;
}

#chart_div,
#chart_div2 {
    margin-top: -120px;
}

input[type="text"],
#txtOutputData {
    width: 300px;
}

#txtOutputData {
    font-family: monospace;
    white-space: pre;
}

/* debug biz */

#objDebugOut {
    font-family: monospace;
    font-size: 10px;
}

.dblReturn__pre_parseInt_,
.while_dblReturn__pre_parseInt_,
.fraction_dblReturn__pre_parseInt_,
.FINAL_dblReturn {
    color: #00FF00;
}

.intSeedIndex,
.intPrimeIndex,
.while_intPrimeIndex,
.fraction_intPrimeIndex {
    color: #0000FF;
}

.intIndexNumerator,
.intIndexDenominator,
.intIndexMultiplier,
.intIndexAddition,
.intNumerator,
.intDenominator,
.intMultiplier,
.intAddition {
    color: #FF00FF;
}

.while_intIndexNumerator,
.while_intIndexDenominator,
.while_intIndexMultiplier,
.while_intIndexAddition,
.while_intNumerator,
.while_intDenominator,
.while_intMultiplier,
.while_intAddition {
    color: #00FFFF;
}
